
html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  display: flex;
  flex-direction: column;
}


.app-layout {
  display: flex;
  flex-direction: row;   
  min-height: 100vh;     
  width: 100%;
}


.app-main {
  flex: 1;                     
  display: flex;
  flex-direction: column;      
  min-height: 0;               
  overflow: hidden;            
  box-sizing: border-box;
  padding: 20px;
}


.page-content {
  flex: 1;               
  overflow-y: auto;      
  -webkit-overflow-scrolling: touch;
}


.sidebar-container {
  width: 72px; 
  box-sizing: border-box;
}


@media (max-width: 800px) {
  .app-layout {
    flex-direction: column;
    min-height: 100%;
  }

  .sidebar-container {
    width: 100%;
  }
}
