
.navbar {
    width: 100%;
    height: 80px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;   
    box-sizing: border-box;
}


.logo-image {
    height: 45px;
    object-fit: contain;
}


.navbar-right {
    display: flex;
    align-items: center;
    gap: 25px;
}


.login-text {
    font-size: 16px;
    text-decoration: none;
    color: #36364A;
}


.signup-btn {
    background-color: #244779;
    color: #FFF;
    padding: 10px 22px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}


.username {
    color: #36364A;
    font-size: 16px;
}

.logout-btn {
    background-color: #244779;
    color: #FFF;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
}
